@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('https://i.pinimg.com/originals/c8/e1/3d/c8e13dbd21915f6a925002a284ef7824.gif');
    background-size: cover;
    transition: background-image 2s ease;
    flex-direction: column;
}

#container {
    background-color: rgba(59, 161, 192, 0.911);
    border-radius: 20px;
    padding: 17px;
    box-shadow: 5px 5px 5px black;
    align-items: center;
    background-size: cover;
    
}


#search {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid rgba(27, 27, 25, 0.76);
    padding: 4px 12px;
    margin-top: 20px;
    border-radius: 20px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border: 2px solid #480072;
    border-radius: 25px;
    color: #292929;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
}

.button:hover {
    background-color: #8d8b8b;
    color: rgb(37, 37, 37);
}

#weatherResult {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#city_name {
    color: rgb(13, 24, 22);
    box-shadow: none;
}

#search input {
    border: none;
    background-color: transparent;
    font-size: 16px;
    width: 100%;
    color: #000;
    outline: none; /* Remove o contorno padrão */
    -webkit-appearance: none; /* Remove o estilo padrão em navegadores WebKit */
    -moz-appearance: none; /* Remove o estilo padrão em navegadores Mozilla */
    appearance: none; /* Remove o estilo padrão em navegadores modernos */
}

#search input:focus {
    background-color: transparent; /* Garante que o fundo permaneça transparente ao focar */
    outline: none; /* Remove o contorno padrão ao focar */
}

#search input:focus-visible {
    outline: none; /* Remove o contorno visível ao focar */
    background-color: transparent;
}

#search input::placeholder {
    color: #000000; /* Define a cor do texto de placeholder */

}

#search button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#botao {
    padding: 8px 10px;
    font-size: 14px;
    background-color: #84dd51c0;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px;
}

#botao:hover {
    background-color: #488ca1c0;
    border-radius: 20px;
}

#weather {
    margin-top: 20px;
    display: none;
}

#weather.show {
    display: block;
}

#weather #title {
    text-align: center;
    margin-bottom: 5px;
    font-weight: 600;
    color: #372f1f;
}

#temp {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    background: linear-gradient(85deg, rgb(41, 85, 78), rgb(39, 80, 156));
    color: #757373;
    border-radius: 20px;
    padding: 20px;
}

#temp_img {
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.2));
}

#temp_value {
    font-weight: bold;
    font-size: 50px;
    line-height: 55px;
}

#temp_description {
    font-weight: 500;
    text-transform: capitalize;
}

#other_infos{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

#other_infos .info {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 4px 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    background: #fff;
    gap: 10px;
}

#other_infos .info1 {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 4px 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    background: #fff;
    gap: 10px;
}

#other_infos .info2 {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 4px 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    background: #fff;
    gap: 10px;
}

#other_infos .info3 {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 4px 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    background: #fff;
    gap: 10px;
}

#other_infos .info4 {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 4px 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    background: #fff;
    gap: 10px;
}

#other_infos .info h2 {
    font-size: 12px;
    font-weight: 600;
}

#other_infos .info i {
    text-align: center;
    font-size: 20px;
    width: 20%;
}

#tempmax_icon {
    color: #7f1d2d;
}

#tempmin_icon {
    color: #0284c5;
}

#umidade_icon {
    color: #0ea5e0;
}

#vento_icon {
    color: #288d63;
}

#lupa {
    color: rgb(21, 57, 78);
}

#loc {
    color: #134d69;
}

#alert img {
    width: 180px;
    margin-top: 30px;
}

#alert {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#temp_img {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 0, 0, 0);
    position: relative;
    animation: moveUpDown 2s infinite alternate ease-in-out;
}

@keyframes moveUpDown {
    0% {
        top: -7px;
    }
    100% {
        top: 7px;
    }
}

::placeholder {
    color: rgb(48, 43, 43);
    
}

input[name="city_name"]:after {
    box-shadow: none;
    border: none;
}









